extends template

block body
  style.
    body {
      background: url('/public/background.jpg')
    }
    .demo-card-wide.mdl-card {
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      margin: auto;
      border-radius: 5px;
    }
    .demo-card-wide > .mdl-card__title {
      height: 176px;
      background: url('welcome_card.jpg') center / cover;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
    .mdl-textfield {
      width: 80%;
    }

  .centered(style='margin: auto; width: 80%; margin-top: 6%;')
    .demo-card-wide.mdl-card.mdl-shadow--2dp
      i.material-icons(style='text-align: center;font-size:5em;margin-top:0.25em;margin-bottom:0.25em;') get_app
      .mdl-card__actions.mdl-card--border
        form(method='post', style='text-align: center;')
          .mdl-textfield.mdl-js-textfield(style='display: block; margin: auto;')
            input.mdl-textfield__input(type="text", id="Enseigne", name="Enseigne", placeholder="Enseigne")
            label.mdl-textfield__label(for='Enseigne') Enseigne
          .mdl-textfield.mdl-js-textfield(style='display: block; margin: auto;')
            input.mdl-textfield__input(type="text", id="MagasinId", name="MagasinId", placeholder="MagasinId")
            label.mdl-textfield__label(for='MagasinId') MagasinId
          .mdl-textfield.mdl-js-textfield(style='display: block; margin: auto;')
            input.mdl-textfield__input(type="text", id="idProduit", name="idProduit", placeholder="idProduit")
            label.mdl-textfield__label(for='idProduit') idProduit
          .mdl-textfield.mdl-js-textfield(style='display: block; margin: auto;')
            input.mdl-textfield__input(type="text", id="url", name="url", placeholder="url")
            label.mdl-textfield__label(for='url') url
          .mdl-grid
            button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(style='margin: auto;') aspire

  script
    :coffee-script
      
