extends template

block body
  a#api-link(href= rootPath + "api/" + view)
  table#buffer.mdl-data-table(style='width: 100%;', cellspacing="0")
    thead
      tr
        each column in schema
          th= column.data
  script.
    var refresh_time = #{refresh_time}
    var schema = !{JSON.stringify(schema)}
  script
    :coffee-script
      view = $("#api-link").attr("href")
      table = null
      setStatus = (request) ->
        reload_callback = () ->
          "ok"
        table.ajax.reload( reload_callback , false)
      decode = (response) ->
        $("ul#buffer").empty()
        setStatus request for request in response
      $ ->
        table = $('#buffer').DataTable({
          paging: true,
          retrieve: true,
          searching: true,
          ajax: {url: view, dataSrc: ''}, 
          columns: schema
        });
        auto_refresh = $("#auto-refresh").hasClass("active")
        $('#auto-refresh').click ->
          $(this).toggleClass("active")
          auto_refresh = !auto_refresh
          if auto_refresh
            refresh()
        callback = (response) -> 
          decode(response)
          if auto_refresh
            setTimeout(refresh, refresh_time)
        refresh = () -> 
          $.get view, callback
        if auto_refresh
          refresh()
