extends template

block body
  a#api-link(href= rootPath + "api/" + view)
  ul#buffer.list-group
    each val in buffer
      a.row.list-group-item(href= rootPath + "request/" + val.requestID, id="request-" + val.requestID)
        span.col-xs-6.col-md-4= val.requestID
        span.col-xs-6.col-md-4= val.Enseigne
        span.col-xs-4.col-md-2.badge= val.status

  script
    :coffee-script
      view = $("#api-link").attr("href")
      refresh_time = 250
      setStatus = (request) ->
        if ( $("#request-" + request.requestID).length == 0 )
          obj = $("<a>", {
            class: 'row list-group-item',
            id: "request-" + request.requestID,
            href: "/request/" + request.requestID
          })
          obj.append($("<span>", {
            class: "col-xs-6 col-md-4"
          }).text(request.requestID))
          obj.append($("<span>", {
            class: "col-xs-6 col-md-4"
          }).text(request.Enseigne))
          obj.append($("<span>", {
            class: "col-xs-4 col-md-2 badge"
          }).text(request.status))
          $("ul#buffer").append obj
        $("#request-" + request.requestID + " span.badge").text(request.status)
        
      decode = (response) ->
        $("ul#buffer").empty()
        setStatus request for request in response
      $ ->
        auto_refresh = $("#auto-refresh").hasClass("active")
        $('#auto-refresh').click ->
          $(this).toggleClass("active")
          auto_refresh = !auto_refresh
          if auto_refresh
            refresh()
        callback = (response) -> 
          decode(response)
          if auto_refresh
            setTimeout(refresh, refresh_time)
        refresh = () -> 
          $.get view, callback
        if auto_refresh
          refresh()
