extends template

block body
  style.
    body {
      background-color: #616161;
    }
  .row(style='margin: auto; width: 80%; margin-top: 6%;')
    form.col.s12.m6.offset-s3.offset-m3(method='post')
      .card
        .card-content
          .card-title
            i.material-icons get_app
            span Aspire a site
          .row
            form.col.s12(method='post', style='text-align: center;')
              .grid
                .input-field.col.s12
                  input(type="text", id="url", name="url")
                  label(for='url') URL
              .grid
                .col.s12
                  input(type="checkbox", id="only-children", name="only-children", checked="checked")
                  label(for="only-children") only children
              .grid
                .col.s12
                  input(type="checkbox", id="only-one-page", name="only-one-page", checked="checked")
                  label(for="only-one-page") only one page
              .grid
                .col.s12
                  input(type="checkbox", id="keep-errors-only", name="keep-errors-only", checked="checked")
                  label(for="keep-errors-only") Check errors only
              .grid
                .input-field.col.s12
                  input(type="text", id="regxp-validation", name="regxp-validation")
                  label(for="regxp-validation") Regxp Validation
              .grid
                .col.s4(style="margin-top: 25px;")
                  input(type="checkbox", id="change-wait", name="change-wait")
                  label(for="change-wait") Change default value
                .col.s8
                  .input-field
                    input(type="number", id="wait", name="wait", value="500")
                    label(for="wait") Wait between requests (milliseconds)
              .grid
                .col.s4(style="margin-top: 25px;")
                  input(type="checkbox", id="countlines", name="countlines")
                  label(for="countlines") Count lines
        .card-action
          button.btn(href="#") Launch

  script
    :coffee-script
      
