extends template

block body
  .row(style='margin: auto; width: 80%; margin-top: 6%;')
    form.col.s12.m6.offset-s3.offset-m3(method='post')
      .card
        .card-content
          .card-title
            i.material-icons get_app
            span Aspire a site
          .row
            form.col.s12(method='post', style='text-align: center;')
              .grid
                .input-field.col.s8
                  input(type="text", id="url", name="url")
                  label(for='url') URL
              .grid
                .col.s8
                  input(type="checkbox", id="only-children", name="only-children", checked="checked")
                  label(for="only-children") only children
              .grid
                .col.s8
                  input(type="checkbox", id="only-one-page", name="only-one-page", checked="checked")
                  label(for="only-one-page") only one page
              .grid
                .col.s8
                  input(type="checkbox", id="keep-errors-only", name="keep-errors-only", checked="checked")
                  label(for="keep-errors-only") Check errors only
              .grid
                .input-field.col.s8
                  input(type="text", id="regxp-validation", name="regxp-validation")
                  label(for="regxp-validation") Regxp Validation
        .card-action
          button.btn(href="#") Launch

  script
    :coffee-script
      
