doctype html
html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href="/public/assets/bootstrap/dist/css/bootstrap.min.css")
    script(src="/public/assets/jquery/dist/jquery.min.js")
    script(src="/public/assets/bootstrap/dist/js/bootstrap.js")
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href="/") Home
              li#auto-refresh
                a(href="#") auto-refresh
            form.navbar-form.navbar-left
              .form-group
                input.form-control#search(type="text", placeholder="Search")

        ul.nav.navbar-nav.pull-right
          li
            if session
              a(href="#")= session.username
            else
              a(href="/login") Login  
    div
      block body
    
    script
      :coffee-script
        $ -> 
          $("#search").on 'change', ->
            window.location.replace('/search?q=' + $("#search").val())
          $("#search").on 'keypress', (e) ->
            if e.keyCode == 13
              e.preventDefault()
              window.location.replace('/search?q=' + $("#search").val())
