doctype html
html(lang="en")
  head
    style.
      .mdl-button--raised.mdl-button--colored {
          background: #3f51b5;
          color: #fff;
      }
      .mdl-button.mdl-button--colored {
          color: #3f51b5;
      }
      .mdl-button--raised {
          background: rgba(158,158,158,.2);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      }
      .mdl-button.mdl-button--disabled.mdl-button--disabled, .mdl-button[disabled][disabled] {
          color: rgba(0,0,0,.26);
          cursor: default;
          background-color: transparent;
      }
      .mdl-button--raised.mdl-button--colored {
          background: #3f51b5;
              background-color: rgb(63, 81, 181);
          color: #fff;
      }
      button[disabled], html input[disabled] {
          cursor: default;
      }
      .mdl-button {
          background: 0 0;
          border: none;
          border-radius: 2px;
          color: #000;
          position: relative;
          height: 36px;
          margin: 0;
          min-width: 64px;
          padding: 0 16px;
          display: inline-block;
          font-family: "Roboto","Helvetica","Arial",sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0;
          overflow: hidden;
          will-change: box-shadow;
          transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
          outline: none;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 36px;
          vertical-align: middle;
      }
      .mdl-data-table {
          position: relative;
          border: 1px solid rgba(0,0,0,.12);
          border-collapse: collapse;
          white-space: nowrap;
          font-size: 13px;
          background-color: #fff;
      }
      table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
          padding-right: 30px;
      }
      table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
          cursor: pointer;
          position: relative;
      }
      .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
          padding-left: 24px;
      }
      .mdl-data-table th {
          vertical-align: bottom;
          text-overflow: ellipsis;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0;
          font-size: 12px;
          color: rgba(0,0,0,.54);
          padding-bottom: 8px;
      }
      .mdl-data-table td, .mdl-data-table th {
          position: relative;
          height: 48px;
          box-sizing: border-box;
      }
      #buffer_length {
        float: right;
      }
      #buffer_length .form-control.input-sm{
        display: inline-block;
        width: 70px;
      }
      .text-center{
        text-align: center;
      }
      .mdl-data-table.highlight tr {
        cursor: pointer;
      }

    link(href="/app.min.css", rel="stylesheet")
    script(src="/app.min.js")
  body
    nav.nav-extended.grey.darken-3(style="z-index:99; position: sticky; top: 0;")
      .nav-wrapper
        ul.left.hide-on-med-and-down
          li
            a.button-nav.btn-medium(data-activates="slide-out", href="#")
              i.material-icons menu
          li
            a.brand-logo(style='padding-left: 5px; padding-right: 5px;') straw-manager
        if session
          ul.right.hide-on-med-and-down
            li
              .switch(style='padding-left: 5px; padding-right: 5px;')
                label.grey-text.text-lighten-5
                  span Off
                  input#auto-refresh(type="checkbox")
                  span.lever
                  span On
            li
              a.dropdown-button.btn-medium.waves-effect.waves-light(data-activates='opts-menu')
                i.material-icons more_vert
              ul.dropdown-content#opts-menu
                if session
                  li
                    a(href="/api/proxies-update", style='width: 100%;display: block;height: 100%;', target="_blank") Update proxies
                  li
                    a(href="/logout", style='width: 100%;display: block;height: 100%;') Logout
                else
                  li
                    a(href="/login", style='width: 100%;display: block;') Login
      if !request
        .nav-content.white
          form
            .col.s12(style="padding-left: 10px; padding-right: 10px;")
              i.material-icons(style='color: black; position: absolute;') search
              .input-field
                input#search(type="search", required)
                i.material-icons close
    if session
      ul#slide-out.side-nav
        li
          .user-view
            .background
              img(src="/public/img/coke_straw-test.jpg", width="100%")
            a.col.offset-s2(href="#!user", style="position: relative; left: 135px;")
              img.circle(src="/public/img/account.jpg", width="100%")
            a(href="#!name", style="position: relative; right: 0px;")
              span.white-text.name= session.username
            a(href="#!email", style="position: relative; right: 0px;")
              span.white-text.email= session.useremail
          </div>
        li
          a#root-straw-manager(href=rootPath) Home
        li
          a#root-straw-manager(href=rootPath + "view/site") Hoover a site
    main(style="font-size: 8pt;")
      block body

    script
      :coffee-script
        $ ->
          $('.pushpin').each ->
            $(this).pushpin()
          $(".button-nav").sideNav();
          moment.locale('fr'); 
          rootPath = $("#root-straw-manager").attr("href")
          $("#search").on 'change', ->
            window.location.replace(rootPath + 'search?q=' + $("#search").val())
          $('#auto-refresh').click ->
            $(this).toggleClass("active")
          $("#search").on 'keypress', (e) ->
            if e.keyCode == 13
              e.preventDefault()
              window.location.replace(rootPath + 'search?q=' + $("#search").val())
